<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="keywords" content="Updraft">
    <meta name="description" content="Updraft">
    <meta property="og:title" content="Updraft">
    <meta property="og:url" content="">
    <title>Updraft</title>
    <link href="{{ static_url("css/bootstrap/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("js/jquery/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/backbone/backbone.js") }}"></script>
    <script src="{{ static_url("js/underscore/underscore.js") }}"></script>
    <script src="{{ static_url("js/script.js") }}"></script>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <h1>Updraft</h1>
    </div>
</div>
<div class="container">
    <div class="content">
        <p>{{ text }}</p>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
        <p>{{ text }}</p>
    </div>
</div>
</body>
</html>
