<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="keywords" content="updraft">
    <meta name="description" content="updraft">
    <meta property="og:title" content="updraft">
    <meta property="og:url" content="">
    <title>updraft</title>
    <link href="{{ static_url("_dist/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("_dist/custom/css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("_dist/jquery/js/jquery.min.js") }}"></script>
    <script src="{{ static_url("_dist/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("_dist/backbone/js/backbone.js") }}"></script>
    <script src="{{ static_url("_dist/underscore/js/underscore.js") }}"></script>
    <script src="{{ static_url("_dist/custom/js/script.js") }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/server/">Server</a></li>
            <li><a href="/style/">Style</a></li>
        </ul>
        <h3 class="text-muted">updraft</h3>
    </div>
    <div class="jumbotron">
        <h1>{{ text }}</h1>
        <p class="lead">The minimal scaffold for tornado App.</p>
        <p><a class="btn btn-lg btn-inverse" href="https://github.com/Mrk1869/updraft"><span class="glyphicon glyphicon-save"></span> Download</a></p>
    </div>
    <div class="row content">
        <div class="col-sm-4">
            <h4><span class="glyphicon glyphicon-tasks"></span> Routing</h4>
            <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
        </div>
        <div class="col-sm-4">
            <h4><span class="glyphicon glyphicon-transfer"></span> Web socket</h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        </div>
        <div class="col-sm-4">
            <h4><span class="glyphicon glyphicon-list-alt"></span> Database</h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        </div>
    </div>
    <div class="footer">
        <p>Developed by Shoya Ishimaru.</p>
    </div>

</div>
</body>
</html>
