<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="keywords" content="updraft">
    <meta name="description" content="updraft">
    <meta property="og:title" content="updraft">
    <meta property="og:url" content="">
    <title>updraft</title>
    <link href="{{ static_url("_dist/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("_dist/custom/css/style.css") }}" rel="stylesheet">
    <script src="{{ static_url("_dist/jquery/js/jquery.min.js") }}"></script>
    <script src="{{ static_url("_dist/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("_dist/backbone/js/backbone.js") }}"></script>
    <script src="{{ static_url("_dist/underscore/js/underscore.js") }}"></script>
    <script src="{{ static_url("_dist/custom/js/script.js") }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">Server</a></li>
            <li><a href="/style/">Style</a></li>
        </ul>
        <h3 class="text-muted">updraft</h3>
    </div>
    <div class="row content">
        <p>Quick references for building tornado App. </p>
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-tasks"></span> Routing</h4>
            <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>
            <pre>class Application(tornado.web.Application):
  def __init__(self):
    handlers = [
      (r"/", IndexHandler),
    ]
    .
    .
class IndexHandler(tornado.web.RequestHandler):
  def get(self):
    self.render('index.html', text="Hello World")</pre>
        </div>
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-transfer"></span> Web socket</h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
            <pre>class Application(tornado.web.Application):
  def __init__(self):
    handlers = [
      (r"/", IndexHandler),
    ]
    .
    .
class IndexHandler(tornado.web.RequestHandler):
  def get(self):
    self.render('index.html', text="Hello World")</pre>
        </div>
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-list-alt"></span> MySQL</h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
            <pre>class Application(tornado.web.Application):
  def __init__(self):
    handlers = [
      (r"/", IndexHandler),
    ]
    .
    .
class IndexHandler(tornado.web.RequestHandler):
  def get(self):
    self.render('index.html', text="Hello World")</pre>
        </div>
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-list-alt"></span> MongoDB</h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
            <pre>class Application(tornado.web.Application):
  def __init__(self):
    handlers = [
      (r"/", IndexHandler),
    ]
    .
    .
class IndexHandler(tornado.web.RequestHandler):
  def get(self):
    self.render('index.html', text="Hello World")</pre>
        </div>
    </div>
    <div class="footer">
        <p>Developed by Shoya Ishimaru.</p>
    </div>

</div>
</body>
</html>
